# 1. Year List Creation
Create a list years_list that includes the year of your birth and the next five years (total 6
years).

In [7]:
birth_year = 2003
years_list = [birth_year + i for i in range(6)]
years_list

[2003, 2004, 2005, 2006, 2007, 2008]

# 2. Third Birthday Year
Print the year in years_list when you were 3 years old.

Hint: Remember, your 0th year is the first item.

In [16]:
print("The year when you were 3 years old:", years_list[3])

The year when you were 3 years old: 2006

# 3. Oldest Year
Which year in years_list represents the most recent (your oldest age)?

In [18]:
print("The most recent oldest year is :",years_list[-1])

The most recent oldest year is : 2008

# 4. List of Things
Create a list called things with the following items:
["mozzarella", "cinderella", "salmonella"]

In [20]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

# 5. Capitalization Check
Capitalize the item that refers to a person in the things list.
Print the list. Did the original list change?

In [21]:
things[1] = things[1].capitalize()

print("Updated list:", things)

Updated list: ['mozzarella', 'Cinderella', 'salmonella']

# 6. Surprise List
Create a list called surprise_list with these values:
["Groucho", "Chico", "Harpo"]

In [23]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

# 7. String Transformation
Take the last item in surprise_list:

- Lowercase it
- Reverse it
- Capitalize the result
  
Then print it.

In [34]:
last_item = surprise_list[-1]
transformed = last_item.lower()[::-1].capitalize()
print(transformed)

Oprah

# 8. English-to-French Dictionary
Create a dictionary e2f that maps these:
- dog → chien
- cat → chat
- walrus → morse

Print the dictionary.

In [35]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Translate 'walrus' to French
Use e2f to print the French word for “walrus.”

In [36]:
e2f['walrus']

'morse'

# 10. Reverse Dictionary
Create a reverse dictionary f2e from e2f using the .items() method.
    Print f2e.

In [37]:
f2e = {}
for english, french in e2f.items():
    f2e[french] = english

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# 11. Translate 'chien' to English
Use f2e to print the English word for “chien.”

In [38]:
f2e['chien']

'dog'

# 12. Get All English Words
Print the set of all English words (the keys from e2f).

In [41]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

# 13. Create a Nested Dictionary (life)
Create a dictionary life structured like this:
{

'animals': {
'cats': ['Henri', 'Grumpy', 'Lucy'],
'octopi': {},
'emus': {}
},
'plants': {},
'other': {}
}

In [42]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

# 14. Top-Level Keys
Print the top-level keys of life.

In [43]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

# 15. Animal Categories
Print the keys inside life['animals'].

In [44]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

# 16. List of Cat Names
Print the list of cat names stored in life['animals']['cats'].

In [45]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']