# Question 1:

Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.

In [2]:
age=25
type(age)

int

# Question 2:

Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?

In [7]:
price=12.5
type(price)

float

In [6]:
price=12
type(price)

int

# Question 3:

Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type.

In [1]:
is_raining=True
type(is_raining)

bool

In [2]:
is_raining=False
type(is_raining)

bool

# Question 4:

Create a variable my_name and store your full name in it as a string. Then
print the value of my_name using single quotes ' .

In [1]:
my_name='Gokul Laxman Jujgar'
print(my_name)

Gokul Laxman Jujgar

# Question 5:

Write a Python program that asks the user for their name and age using the
input() function. Store the inputs in variables and print a sentence like
"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
integer.

In [5]:
name=input("Enter your name : ")
age=int(input("Enter your age  : "))
print("Hello",name,"you are",age,"years old")
type(age)

Enter your name :  Gokul
Enter your age  :  21

Hello Gokul you are 21 years old

int

# Question 6:

Create two variables x and y and assign them the values 10 and 3.5 ,
respectively. Print their values and types. Then, create a new variable
sum_xy and store the sum of x and y . Print the result and its type.

In [6]:
x=10
y=3.5
print(x,"\n",type(x))
print(y,"\n",type(y))
sum_xy=x+y
print(sum_xy,"\n",type(sum_xy))

10
 <class 'int'>
3.5
 <class 'float'>
13.5
 <class 'float'>

# Question 7:

Using the type() function, check and print the data type of the following:

45.0,
"hello",
None,
False

In [10]:
type(45.0)

float

In [11]:
type("hello")

str

In [12]:
type(None)

NoneType

In [13]:
type(False)

bool

# Question 8:

Write a Python program to print three strings "apple" , "banana" , and "cherry"
on the same line, separated by a space. Then modify the program to
separate the strings using a comma , instead of a space.

In [2]:
# Printing strings separated by a space
print("apple", "banana", "cherry")

apple banana cherry

In [3]:
# Printing strings separated by a comma
print("apple", "banana", "cherry", sep=", ")

apple, banana, cherry

# Question 9:

Create a variable big_number and assign it a very large integer value (e.g.,
987654321987654321 ). Print the value and its type. What do you notice about
the size of the number?

In [28]:
big_number=987654321987654321 
print(big_number)
type(big_number)

987654321987654321

int

# Question 10:

Write a Python program that prints the result of multiplying two floats (e.g.,
2.5 and 3.7 ). Then check and print the data type of the result.

In [18]:
x=2.5
y=3.7
z=x*y
print(z,type(z),sep="\n")

9.25
<class 'float'>